<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetApp"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AddProductActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".BarcodeScannerActivity"
            android:exported="false"
            android:parentActivityName=".AddProductActivity" />
            
        <activity
            android:name=".ProductListActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".EditProductActivity"
            android:exported="false"
            android:parentActivityName=".ProductListActivity" />
            
        <activity
            android:name=".ProductPriceManagerActivity"
            android:exported="false"
            android:parentActivityName=".ProductListActivity" />
            
        <activity
            android:name=".StoreManagerActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".ProductListActivity" />
            
        <activity
            android:name=".AddIncomeActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".AddExpenseActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".EditHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".AddLoanActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".activities.AddEditBudgetActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".ShoppingListActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".AddEditShoppingListActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".ShoppingListActivity" />
            
        <activity
            android:name=".ShoppingListDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".ShoppingListActivity" />
            
        <activity
            android:name=".AddEditShoppingListItemActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".ShoppingListDetailActivity" />
            
        <activity
            android:name=".PriceHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".ProductPriceManagerActivity" />
            
        <activity
            android:name=".SmartRecommendationsActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
        
    </application>

</manifest>