<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    
    <!-- Notification permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetApp"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AddProductActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".BarcodeScannerActivity"
            android:exported="false"
            android:parentActivityName=".AddProductActivity" />
            
        <activity
            android:name=".ProductListActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".EditProductActivity"
            android:exported="false"
            android:parentActivityName=".ProductListActivity" />
            
        <activity
            android:name=".ProductPriceManagerActivity"
            android:exported="false"
            android:parentActivityName=".ProductListActivity" />
            
        <activity
            android:name=".StoreManagerActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".ProductListActivity" />
            
        <activity
            android:name=".StoreChainManagerActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".StoreManagerActivity" />
            
        <activity
            android:name=".AddIncomeActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".AddExpenseActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".EditHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".AddLoanActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".activities.AddEditBudgetActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".ShoppingListActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".AddEditShoppingListActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".ShoppingListActivity" />
            
        <activity
            android:name=".ShoppingListDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".ShoppingListActivity" />
            
        <activity
            android:name=".AddEditShoppingListItemActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".ShoppingListDetailActivity" />
            
        <activity
            android:name=".SelectProductActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".AddEditShoppingListItemActivity" />
            
        <activity
            android:name=".OptimizedShoppingActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".ShoppingListDetailActivity" />
            
        <activity
            android:name=".PriceHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".ProductPriceManagerActivity" />
            
        <activity
            android:name=".SmartRecommendationsActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".BudgetAnalyticsActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".CategoryManagerActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".AddEditCategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".CategoryManagerActivity" />
            
        <activity
            android:name=".BudgetRolloverSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".ThemePreferencesActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".ProductCategoryManagerActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".NotificationSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".TransactionSelectorActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".NotificationSettingsActivity" />
            
        <activity
            android:name=".StoreDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".SmartRecommendationsActivity" />
            
        <activity
            android:name=".StoreAndProductManagerActivity"
            android:exported="false"
            android:theme="@style/Theme.BudgetApp.NoActionBar"
            android:parentActivityName=".MainActivity" />
            
        <!-- Notification Receiver -->
        <receiver
            android:name=".receivers.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.budgetapp.DAILY_IF_NOT_OPENED" />
                <action android:name="com.example.budgetapp.DAILY_ALWAYS" />
                <action android:name="com.example.budgetapp.24_HOURS_CHECK" />
                <action android:name="com.example.budgetapp.UPCOMING_TRANSACTIONS" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        
        <!-- Automation Activity -->
        <activity
            android:name=".AutomationActivity"
            android:exported="false"
            android:label="Smart Automation"
            android:parentActivityName=".MainActivity" />
        
    </application>

</manifest>